 .caption{
      padding-left: 100px;
  }

  .Navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
  }

  .Navbar > div{
  line-height: 50px;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  }

  .Navbar > div > a{
    text-decoration: none;
    color: white;
    }

  .imageGrid{
    display: grid;
    grid-template: 150px 2fr / 150px 2fr;
}